html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.cabeza {
    width: 100%;
    height: 100px;
    background-color: #193e6c;
    color: aliceblue;
    margin: 0;
}

.cuerpo {
    width: 100%;
    height: 500px;
    background-color: #f5c7bc;
}