html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 100%;
    text-align: center;
}

.cabeza {
    width: 100%;
    height: auto;
    background-color: #193e6c;
    color: aliceblue;
    margin: 0;
}

.cuerpo {
    width: 100%;
    height: auto;
    background-color: #e7d6fa;
}

#tit1 {
    margin: 50px 0 50px 0;
}

footer {
    width: 100%;
    height: auto;
    background-color: #ffd6f8;
}

footer p {
    margin-top: 15px;
}